#basic {
    border:2px solid #000;
    margin:20px;
        -moz-box-shadow: 0 0 3px black;
    -webkit-box-shadow: 0 0 3px black;
    box-shadow: 0 0 3px black;
}

.fail {
    color:red;
}

#restart {
    display:block;
    background-color:#228B22;
    font-family:cursive;
    font-size:16px;
}

h3 {
    font-family:cursive;
    font-size:16px;
}
